body { 
  background: url(img/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
	padding-top: 140px;

}
#login{

	padding-top: 40px;
}
